@model MVCBlog.Web.Models.Blog.IndexViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = "HamurcuBlog";
}
@if (!string.IsNullOrEmpty(this.Model.Tag) || !string.IsNullOrEmpty(this.Model.Search))
{
    <div class="card mt-3 mb-3">
        <div class="card-body">
            @if (!string.IsNullOrEmpty(this.Model.Tag))
            {
                <i class="fas fa-tag"></i>
                <text>Aranan Etiket: @this.Model.Tag</text>
            }

            @if (!string.IsNullOrEmpty(this.Model.Tag) && !string.IsNullOrEmpty(this.Model.Search))
            {
                <br />
            }
            @if (!string.IsNullOrEmpty(this.Model.Search))
            {
                <i class="fas fa-search"></i>
                <text>Aranan kelime :<b>@this.Model.Search</b></text>
            }
        </div>
    </div>
}

<div class="row">
    <div class="col-md-12 col-lg-9">
        <div class="row">
            @if (this.Model.Entries.TotalNumberOfItems > 0)
            {
                foreach (var entry in this.Model.Entries)
                {
                    <div class="col-md-6">
                        <article class="mb-4 card">
                            <h2><a href="~/Blog/@entry.Url" class="headertext">@entry.Header</a></h2>
                            <partial name="_Header" model="@entry" />
                        </article>
                    </div>
                }

                <pager paged-result="this.Model.Entries"></pager>
            }
            else
            {
                <p>Malesef yayında <b>@this.Model.Search</b> ile ilgili bir yazı bulunamadı :(</p>
            }
        </div>
    </div>
    <div class="col-lg-3 d-none d-sm-none d-md-none d-lg-block">
        @if (Model.Tags.Count > 0)
        {
            <h3>Etiketler</h3>
            @foreach (var tag in Model.Tags)
            {
                <a asp-controller="Blog" asp-action="Index" asp-route-tag="@tag.Name" class="text-nowrap chip headertext">@tag.Name</a>
            }
        }

        <br />
        <br />
        @if (Model.PopularBlogEntries.Count > 0)
        {
            <h3>Popüler Yazılar</h3>
            @foreach (var entry in Model.PopularBlogEntries)
            {
                <article class="mb-4 card">
                    <h6><a href="~/Blog/@entry.Url" class="headertext">@entry.Header</a></h6>
                    <span class="text-muted">
                        <i class="fas fa-calendar-alt"></i> @entry.PublishDate.DateTime.ToFriendlyShortDateString()<br class="d-md-none" />
                    </span>
                </article>

            }
        }
    </div>
</div>
