@using Microsoft.AspNetCore.Identity
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@inject SignInManager<MVCBlog.Data.User> SignInManager
@inject Microsoft.Extensions.Options.IOptionsMonitor<MVCBlog.Business.BlogSettings> BlogSettings
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" lang="tr" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @BlogSettings.CurrentValue.BlogName</title>
    <meta name="description" content="Android, Kotlin, Java, C# gibi bir çok yazılım dilinde edindiğim tecrübelerimi blog yazıları haline getiriyorum" />
    <meta name="keywords" content="Android, Kotlin, Java,Emre,Hamurcu,hamurcuabi,programlama,yazılım">
    <meta name="author" content="Emre Hamurcu">
    <title>Emre Hamurcu</title>
    <meta name="robots" content="index, follow">
    <meta name="revisit-after" content="1 days">
    <meta name="publisher" content="VS 2019" />
    <link rel="canonical" href="https://www.emrehamurcu.com/" />
    <link rel="stylesheet" href="~/dist/combined.min.css" asp-append-version="true" />
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="~/default.png" />
    <link rel="icon" type="image/png" href="~/default.png" sizes="192x192" />
    <meta name="theme-color" content="#2F5890">
    <meta name="msapplication-navbutton-color" content="#2F5890">
    <meta name="apple-mobile-web-app-status-bar-style" content="#2F5890">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Heebo">
    <link rel="alternate" type="application/rss+xml" title="@BlogSettings.CurrentValue.BlogDescription" href="@this.Context.Request.Scheme://@this.Context.Request.Host@this.Context.Request.PathBase}/Blog/Feed" />
    <link rel="stylesheet" href="~/ckeditor/plugins/codesnippet/lib/highlight/styles/sunburst.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
</head>
<body>
    <div class="myContainer">
        <header style="margin-top:15px">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom shadow-sm mb-3">
                <a class="navbar-brand" href="~/">
                     <img alt="Emre Hamurcu" src="https://user-images.githubusercontent.com/23655824/196413702-3efe9826-29ce-400a-aaff-389788573720.png"
                     height="56" loading="lazy">
                    <b> HamurcuBlog</b></a>
               

                @if (SignInManager.IsSignedIn(User))
                {
                    <a asp-area="" asp-controller="Administration" asp-action="Index" class="nav-link text-dark"><i class="fas fa-tools"></i></a>
                }
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex">

                    <ul class="navbar-nav flex-grow-1">
                        @*<li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Blog" asp-action="Feed"><i class="fas fa-rss"></i></a>
                            </li>*@


                    </ul>
                    <form class="form-inline" action="~/" method="get">
                        <input class="form-control mr-sm-2" type="search" name="search" placeholder="Ara" aria-label="Search">
                        <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Ara</button>
                    </form>
                </div>
            </nav>
        </header>
        <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa fa-arrow-up"></i></button>
        <partial name="_CookieConsentPartial" />

        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted text-center d-print-none">
        <div class="container">
            <ul class="social-icons">
                <li><a class="medium" rel="nofollow" href="https://medium.com/@@hamurcuabi" target="_blank"><i class="fa fa-medium"></i></a></li>
                <li><a class="github" rel="nofollow" href="https://github.com/hamurcuabi"><i class="fa fa-github" target="_blank"></i></a></li>
                <li><a class="stackoverflow" rel="nofollow" href="https://stackoverflow.com/users/7074602/emre-hamurcu" target="_blank"><i class="fa fa-stack-overflow"></i></a></li>
                <li><a class="youtube" rel="nofollow" href="https://www.youtube.com/channel/UCsgjCOoNyeg-9pmFWEN4dZw" target="_blank"><i class="fa fa-youtube"></i></a></li>
                <li><a class="linkedin" rel="nofollow" href="https://www.linkedin.com/in/hamurcu-emre/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
            </ul>

            <a asp-area="" asp-controller="Privacy" asp-action="Index"><i class="fas fa-user-shield"></i></a>
            <a asp-area="" asp-controller="Privacy" asp-action="Index" class="headertext">Gizlilik</a>
            @if (!SignInManager.IsSignedIn(User))
            {
                if (BlogSettings.CurrentValue.NewUsersCanRegister)
                {
                    <text>|</text>
                    <a asp-area="Identity" asp-page="/Account/Register"><i class="fas fa-user-plus"></i></a>
                    <a asp-area="Identity" asp-page="/Account/Register">Kayıt</a>
                }
                <text>|</text>
                <a asp-area="Identity" asp-page="/Account/Login"><i class="fas fa-sign-in-alt"></i></a>
                <a asp-area="Identity" asp-page="/Account/Login" class="headertext">Giriş</a>
            }
            else
            {
                <text>|</text>
                <a asp-area="Identity" asp-page="/Account/Manage/Index"><i class="fas fa-user-cog"></i></a>
                <a asp-area="Identity" asp-page="/Account/Manage/Index" class="headertext">Ayarlar</a>
                <text>|</text>
                <form style="display: inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/">
                    <button type="submit" class="btn btn-link" style="padding-left: 0;"><i class="fas fa-sign-out-alt"></i> Çıkış</button>
                </form>
            }

        </div>
    </footer>

    <script src="~/dist/combined.min.js" asp-append-version="true"></script>
    <script>
        //Get the button
        var mybutton = document.getElementById("myBtn");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
